#about_pic{
    border-radius: 25px;
}
#colDescrip, #colPrjLink
{
    text-align: center;
    height:150px;
}

#colPrjDescrip{
    text-align: center;
    height:350px;
}
#logoNavBar{
    width:50px; 
    initial-letter-align: auto;
    align-self: flex-start;
}
#mypicture{
    align-items:flex-end;
}
#carousel-item1 > h1, #carousel-item2 > h1, #carousel-item3 > h1
{
   font-size: 8vw;
   font-style: italic;
}
